---
---

@import "{{ site.theme }}";

/* changed CSS */
.source-block {
  display: flex;
  align-items: center;
  align-content:flex-start;
}

// https://stackoverflow.com/a/62424341
pre {
    padding: 8pt;
    overflow: auto;
    margin: 1.2em;
    margin-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

pre.src {
    position: relative;
    overflow: auto;
    padding-top: 1.2em;
}

pre.bolt12 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:
    ellipsis;
    width: 150px;
}

.copy-code-button {
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 4px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px 8px;

    &::after {
        font-size: 1.5rem;
        content: "📋";
        display: block;
    }

    // This class will be toggled via JavaScript
    &.copied {
        &::after { content: "✔️"; }
    }
}

/* misc styling */
.copy-code-button {
  margin-top: 2px;
}
